# Demographic Data

We want to analyse the demographic data.

In [2]:
stats <- read.csv("data/DemographicData.csv")
stats

    Country.Name                   Country.Code Birth.rate Internet.users
1   Aruba                          ABW          10.244     78.90000
2   Afghanistan                    AFG          35.253      5.90000
3   Angola                         AGO          45.985     19.10000
4   Albania                        ALB          12.877     57.20000
5   United Arab Emirates           ARE          11.044     88.00000
6   Argentina                      ARG          17.716     59.90000
7   Armenia                        ARM          13.308     41.90000
8   Antigua and Barbuda            ATG          16.447     63.40000
9   Australia                      AUS          13.200     83.00000
10  Austria                        AUT           9.400     80.61880
11  Azerbaijan                     AZE          18.300     58.70000
12  Burundi                        BDI          44.151      1.30000
13  Belgium                        BEL          11.200     82.17020
14  Benin                          BEN          36.440      4.90000
15  Burkina Faso                   BFA          40.551      9.10000
16  Bangladesh                     BGD          20.142      6.63000
17  Bulgaria                       BGR           9.200     53.06150
18  Bahrain                        BHR          15.040     90.00004
19  Bahamas, The                   BHS          15.339     72.00000
20  Bosnia and Herzegovina         BIH           9.062     57.79000
21  Belarus                        BLR          12.500     54.17000
22  Belize                         BLZ          23.092     33.60000
23  Bermuda                        BMU          10.400     95.30000
24  Bolivia                        BOL          24.236     36.94000
25  Brazil                         BRA          14.931     51.04000
26  Barbados                       BRB          12.188     73.00000
27  Brunei Darussalam              BRN          16.405     64.50000
28  Bhutan                         BTN          18.134     29.90000
29  Botswana                       BWA          25.267     15.00000
30  Central African Republic       CAF          34.076      3.50000
⋮   ⋮                              ⋮            ⋮          ⋮
166 Seychelles                     SYC          18.600     50.40
167 Syrian Arab Republic           SYR          24.043     26.20
168 Chad                           TCD          45.745      2.30
169 Togo                           TGO          36.080      4.50
170 Thailand                       THA          11.041     28.94
171 Tajikistan                     TJK          30.792     16.00
172 Turkmenistan                   TKM          21.322      9.60
173 Timor-Leste                    TLS          35.755      1.10
174 Tonga                          TON          25.409     35.00
175 Trinidad and Tobago            TTO          14.590     63.80
176 Tunisia                        TUN          19.800     43.80
177 Turkey                         TUR          16.836     46.25
178 Tanzania                       TZA          39.518      4.40
179 Uganda                         UGA          43.474     16.20
180 Ukraine                        UKR          11.100     41.00
181 Uruguay                        URY          14.374     57.69
182 United States                  USA          12.500     84.20
183 Uzbekistan                     UZB          22.500     38.20
184 St. Vincent and the Grenadines VCT          16.306     52.00
185 Venezuela, RB                  VEN          19.842     54.90
186 Virgin Islands (U.S.)          VIR          10.700     45.30
187 Vietnam                        VNM          15.537     43.90
188 Vanuatu                        VUT          26.739     11.30
189 West Bank and Gaza             PSE          30.394     46.60
190 Samoa                          WSM          26.172     15.30
191 Yemen, Rep.                    YEM          32.947     20.00
192 South Africa                   ZAF          20.850     46.50
193 Congo, Dem. Rep.               COD          42.394      2.20
194 Zambia                         ZMB          40.471     15.40
195 Zimbabwe                       ZWE          35.715     18.50
    Income.Group
1   High income
2   Low income
3   Upper middle income
4   Upper middle income
5   High income
6   High income
7   Lower middle income
8   High income
9   High income
10  High income
11  Upper middle income
12  Low income
13  High income
14  Low income
15  Low income
16  Lower middle income
17  Upper middle income
18  High income
19  High income
20  Upper middle income
21  Upper middle income
22  Upper middle income
23  High income
24  Lower middle income
25  Upper middle income
26  High income
27  High income
28  Lower middle income
29  Upper middle income
30  Low income
⋮   ⋮
166 High income
167 Lower middle income
168 Low income
169 Low income
170 Upper middle income
171 Lower middle income
172 Upper middle income
173 Lower middle income
174 Upper middle income
175 High income
176 Upper middle income
177 Upper middle income
178 Low income
179 Low income
180 Lower middle income
181 High income
182 High income
183 Lower middle income
184 Upper middle income
185 High income
186 High income
187 Lower middle income
188 Lower middle income
189 Lower middle income
190 Lower middle income
191 Lower middle income
192 Upper middle income
193 Low income
194 Lower middle income
195 Low income

In [3]:
nrow(stats)

[1] 195

In [4]:
ncol(stats)

[1] 5

In [6]:
head(stats)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [7]:
tail(stats)

    Country.Name     Country.Code Birth.rate Internet.users Income.Group
190 Samoa            WSM          26.172     15.3           Lower middle income
191 Yemen, Rep.      YEM          32.947     20.0           Lower middle income
192 South Africa     ZAF          20.850     46.5           Upper middle income
193 Congo, Dem. Rep. COD          42.394      2.2           Low income
194 Zambia           ZMB          40.471     15.4           Lower middle income
195 Zimbabwe         ZWE          35.715     18.5           Low income

In [8]:
str(stats)

'data.frame':	195 obs. of  5 variables:
 $ Country.Name  : Factor w/ 195 levels "Afghanistan",..: 8 1 4 2 183 6 7 5 9 10 ...
 $ Country.Code  : Factor w/ 195 levels "ABW","AFG","AGO",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Birth.rate    : num  10.2 35.3 46 12.9 11 ...
 $ Internet.users: num  78.9 5.9 19.1 57.2 88 ...
 $ Income.Group  : Factor w/ 4 levels "High income",..: 1 2 4 4 1 1 3 1 1 1 ...

In [9]:
summary(stats)

              Country.Name  Country.Code   Birth.rate    Internet.users
 Afghanistan        :  1   ABW    :  1   Min.   : 7.90   Min.   : 0.90
 Albania            :  1   AFG    :  1   1st Qu.:12.12   1st Qu.:14.52
 Algeria            :  1   AGO    :  1   Median :19.68   Median :41.00
 Angola             :  1   ALB    :  1   Mean   :21.47   Mean   :42.08
 Antigua and Barbuda:  1   ARE    :  1   3rd Qu.:29.76   3rd Qu.:66.22
 Argentina          :  1   ARG    :  1   Max.   :49.66   Max.   :96.55
 (Other)            :189   (Other):189
              Income.Group
 High income        :67
 Low income         :30
 Lower middle income:50
 Upper middle income:48

In [10]:
levels(stats$Income.Group)

[1] "High income"         "Low income"          "Lower middle income"
[4] "Upper middle income"

In [11]:
library(ggplot2)

In [ ]:
qplot(data=stats, x=Income.Group, y=Birth.rate)