# Lesson 8

## What is a Vector?

A vector is basically an array.<br>
**The index of a vector starts with `1` in R!**

### Numeric vector

```
 1   2   3  4   5
[1, 33, 44, 5, 55]
```


### Character vector

```
   1    2    3     4      5
["Z", "f", "7", "2a", "Yes"]
```

Even numbers will be converted to a character in a character vector.


### The secret of R

Everything, even a single number like `27` is a vector with the length one!


### Creating a numeric vector

You can combine a list of numbers into a vector by using the function `c()`.

In [4]:
MyFirstVector <- c(3, 45, 56, 732)
MyFirstVector

[1]   3  45  56 732

In [5]:
is.numeric(MyFirstVector)

[1] TRUE

In [6]:
is.integer(MyFirstVector)

[1] FALSE

That's because R saves all numbers as doubles as default.

In [7]:
is.double(MyFirstVector)

[1] TRUE

In [11]:
V2 <- c(3L, 12L, 243L, 0L)
V2

[1]   3  12 243   0

In [12]:
is.numeric(V2)

[1] TRUE

In [13]:
is.integer(V2)

[1] TRUE

In [14]:
is.double(V2)

[1] FALSE

### Creating a character vector

In [15]:
V3 <- c("a", "B23", "Hello", 7)
V3

[1] "a"     "B23"   "Hello" "7"

In [16]:
is.character(V3)

[1] TRUE

In [17]:
is.numeric(V3)

[1] FALSE

### Other ways to create a vector

* `seq()` - sequence / like `:`
* `rep()` - replicate

In [18]:
seq(1, 15)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [19]:
1:15

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

But `seq()` can do more than `:`...

In [21]:
seq(1, 15, 2) # 2 is the step

[1]  1  3  5  7  9 11 13 15

In [22]:
z <- seq(1,15,4)
z

[1]  1  5  9 13

Now `rep()`...

In [24]:
rep(3, 50)

 [1] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[39] 3 3 3 3 3 3 3 3 3 3 3 3

In [26]:
d <- rep(3, 20)
d

 [1] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3

In [27]:
rep("a", 5)

[1] "a" "a" "a" "a" "a"

In [28]:
x <- c(80, 20)
y <- rep(x, 10)
y

 [1] 80 20 80 20 80 20 80 20 80 20 80 20 80 20 80 20 80 20 80 20